h2{
font-size: 40px;
color: orange;
font-family: "Comic Sans MS", "Comic Sans";
display: flex;
justify-content: center;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  input[type="text"] {
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }
  button {
    margin-top: 10px;
    background-color: orange;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    outline: 0;
    border: 0;
    width: 100px;
    height: 20px;
  }
  a{
    text-decoration: none;
    display: flex;
    justify-content:left;
  }
  label{
    font-family: "Comic Sans MS", "Comic Sans";
  }
  #vokabelListe {
    margin-top: 20px;
  }